<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Добавление сотрудника</title>
  <link rel="stylesheet"
        type="text/css"
        href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
        crossorigin="anonymous" />
</head>
<nav class="container pt-4 nav nav-pills flex-column flex-sm-row">
  <a class="flex-sm-fill text-sm-center nav-link btn-light" th:href="@{/api/v1/tenants}">Арендаторы</a>
  <a class="flex-sm-fill text-sm-center nav-link btn-light" th:href="@{/api/v1/contracts}">Договоры</a>
  <a class="flex-sm-fill text-sm-center nav-link btn-light" th:href="@{/api/v1/invoices}">Учет</a>
  <a class="flex-sm-fill text-sm-center nav-link btn-light" th:href="@{/api/v1/stores}">Павильоны</a>
  <a class="flex-sm-fill text-sm-center nav-link active" th:href="@{/api/v1/employees}">Сотрудники</a>
  <a class="flex-sm-fill text-sm-center nav-link btn-light" th:href="@{/api/v1/vacancies}">Вакансии</a>
  <a class="flex-sm-fill text-sm-center nav-link btn-light" th:href="@{/api/v1/storage}">Поставки</a>
  <a class="flex-sm-fill text-sm-center nav-link btn-light" th:href="@{/api/v1/promos}">Акции</a>
</nav>
<body>
  <div class="container pt-3 my-5">
    <h3 class="text-center p-3">Добавить нового сотрудника</h3>
    <hr/>
    <form th:action="@{/api/v1/employees}" th:object="${employee}" method="POST">
        <div class="d-flex align-items-center flex-column">
          <div class="form-group">
            <select class="form-control" data-role="select-dropdown" data-profile="minimal" th:field="*{vacancy}">
              <option class="dropdown-item" value="0">Выберите вакансию</option>
              <option class="dropdown-item" th:each="vacancy : ${vacancies}" th:value="${vacancy.idVacancy}"
                      th:text="${'Наименование: '+vacancy.vacancyTitle+' , Магазин: '+vacancy.store.storeTitle+', Зарплата: '+vacancy.salary}">
              </option>
            </select>
          </div>
          <input type="text" th:field="*{firstName}" class="form-control col-4 mb-4" placeholder="Введите имя" />
          <input type="text" th:field="*{lastName}" class="form-control col-4 mb-4" placeholder="Введите фамилию" />
          <input type="text" th:field="*{middleName}" class="form-control col-4 mb-4" placeholder="Введите отчество" />
          <input type="text" th:field="*{phone}" class="form-control col-4 mb-4" placeholder="Введите Номер телефона" />
          <button type="submit" class="btn btn-primary w-auto">Добавить</button>
        </div>
    </form>
    <hr/>
    <a class="btn" th:href="@{/api/v1/employees}">Назад</a>
  </div>
</body>
</html>