<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Добавление поставок</title>
  <link rel="stylesheet"
        type="text/css"
        href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
        crossorigin="anonymous" />
</head>
<nav class="container pt-4 nav nav-pills flex-column flex-sm-row">
  <a class="flex-sm-fill text-sm-center nav-link btn-light" th:href="@{/tenants}">Арендаторы</a>
  <a class="flex-sm-fill text-sm-center nav-link btn-light" th:href="@{/contracts}">Договоры</a>
  <a class="flex-sm-fill text-sm-center nav-link btn-light" th:href="@{/invoices}">Учет</a>
  <a class="flex-sm-fill text-sm-center nav-link btn-light" th:href="@{/stores}">Павильоны</a>
  <a class="flex-sm-fill text-sm-center nav-link btn-light" th:href="@{/employees}">Сотрудники</a>
  <a class="flex-sm-fill text-sm-center nav-link btn-light" th:href="@{/vacancies}">Вакансии</a>
  <a class="flex-sm-fill text-sm-center nav-link active" th:href="@{/storage}">Поставки</a>
  <a class="flex-sm-fill text-sm-center nav-link btn-light" th:href="@{/promos}">Акции</a>
</nav>
<body>
<div class="container pt-3 my-5">
    <h3 class="text-center p-3">Добавить новую поставку</h3>
    <hr/>
    <form th:action="@{/storage}" th:object="${storage}" method="POST">
      <div class="d-flex align-items-center flex-column">
        <div class="form-group">
          <select class="form-control" data-role="select-dropdown" th:field="*{store}">
            <option class="dropdown-item" value="0">Выберите магазин</option>
            <option class="dropdown-item" th:each="store : ${stores}" th:value="${store.idStore}"
                    th:text="${'ID Павильона: '+store.idStore+' , Название магазина: '+store.storeTitle}">
            </option>
          </select>
        </div>
        <input class="form-control col-4 mb-4" type="text" th:field="*{productName}" placeholder="Наименование" />
        <input class="form-control col-4 mb-4" type="text" th:field="*{supplier}" placeholder="Поставщик" />
        <input class="form-control col-4 mb-4" type="text" th:field="*{manufacturerCountry}" placeholder="Страна-производитель" />
        <input class="form-control col-4 mb-4" type="text" th:field="*{amount}" placeholder="Количество товара" />
        <input class="form-control col-4 mb-4" type="text" th:field="*{costPerDay}" placeholder="Стоимость хранения в день" />
        <button type="submit" class="btn btn-primary w-auto">Добавить</button>
      </div>
    </form>
    <hr/>
  </div>
</body>
</html>