<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Договоры</title>
  <link th:href="@{../css/style.css}" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
        crossorigin="anonymous" />
</head>
<header>
  <a class="head btn-hd" th:href="@{/tenants}">Арендаторы</a>
  <a class="head btn-hd btn-selected" th:href="@{/contracts}">Договоры</a>
  <a class="head btn-hd" th:href="@{/invoices}">Учет</a>
  <a class="head btn-hd" th:href="@{/stores}">Магазины</a>
  <a class="head btn-hd" th:href="@{/employees}">Сотрудники</a>
  <a class="head btn-hd" th:href="@{/vacancies}">Вакансии</a>
  <a class="head btn-hd" th:href="@{/storage}">Поставки</a>
  <a class="head btn-hd" th:href="@{/promos}">Акции</a>
</header>
<body>
  <div class="movie">
    <a th:href="@{/contracts/new}">Добавить договор</a>
    <h3>Перечень договоров</h3>

    <hr/>
  <!--    <a th:href="@{/addEmployeeForm}" class="btn btn-primary">Add Employee</a>-->
    <br/><br/>
    <table class="table table-bordered table-striped" id="contractTable">

      <thead>
        <tr>
          <th>Номер договора</th>
          <th>IdTenant</th>
          <th>IdStore</th>
          <th>Actions</th>
        </tr>
      </thead>
        <tbody>
          <tr th:each="contract: ${contracts}">
            <td th:text="${contract.idContract}"></td>
            <td th:text="${contract.tenant}"></td>
            <td th:text="${contract.store}"></td>
            <td>
              <a th:href="@{/contracts/(id=${contract.idContract})}">Подробнее</a>
            </td>
          </tr>
        </tbody>

    </table>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
  <script>
      $(document).ready(function() {
          $("#contractTable").DataTable({
              'aoColumnDefs': [{
                  'bSortable': false,
                  'aTargets': [-1] /* 1st one, start by the right */
              }],
              "oLanguage": {
                  "sLengthMenu": "Показать _MENU_ записей",
                  "sInfo": "Показано _END_ из _TOTAL_ записей",
                  "oPaginate": {
                      "sNext": "Далее",
                      "sPrevious": "Назад"
                  },
                  "sInfoEmpty": "Нет записей",
                  "sEmptyTable": "Нет записей",
                  "sZeroRecords": "Нет записей",}
          });
      })
  </script>
</body>
</html>