<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Договоры</title>
  <link th:href="@{../css/style.css}" rel="stylesheet" type="text/css"/>
</head>
<header>
  <a class="head btn-hd" th:href="@{/tenants}">Арендаторы</a>
  <a class="head btn-hd btn-selected" th:href="@{/contracts}">Договоры</a>
  <a class="head btn-hd" th:href="@{/invoices}">Учет</a>
  <a class="head btn-hd" th:href="@{/stores}">Магазины</a>
  <a class="head btn-hd" th:href="@{/employees}">Сотрудники</a>
  <a class="head btn-hd" th:href="@{/vacancies}">Вакансии</a>
  <a class="head btn-hd" th:href="@{/storage}">Склад</a>
  <a class="head btn-hd" th:href="@{/promos}">Акции</a>
</header>
<body>
<div class="movie">

    <h3>Перечень договоров</h3>

    <hr/>
<!--    <a th:href="@{/addEmployeeForm}" class="btn btn-primary">Add Employee</a>-->
    <br/><br/>
  <table class="table table-bordered table-striped" id="employeeTable">

    <thead>
      <tr>
        <th>Номер договора</th>
        <th>IdTenant</th>
        <th>IdStore</th>
        <th>Actions</th>
      </tr>
    </thead>
      <tbody>
      <tr th:each="contract: ${contracts}">
        <td th:text="${contract.idContract}"></td>
        <td th:text="${contract.tenant}"></td>
        <td th:text="${contract.store}"></td>
        <td>
          <a th:href="@{/contracts/(id=${contract.idContract})}">Подробнее</a>
        </td>
<!--            <td>-->
<!--                <a th:href="@{/showUpdateForm(employeeId=${employee.id})}" class="btn btn-info">Update</a>-->

<!--                <a th:href="@{/deleteEmployee(employeeId=${employee.id})}" class="btn btn-danger ml-2">Delete</a>-->
<!--            </td>-->
      </tr>
      </tbody>

  </table>
<!--  <div class="movie">-->
<!--    <div class="movie-info-box">-->
<!--      <div class="movie-info">-->
<!--        <h4>Movie info:</h4>-->
<!--        <h5>Length: </h5><p>{{duration}} Min.</p>-->
<!--        <h5>Age restriction: </h5>-->
<!--        <p>{{restriction}}.</p>-->
<!--        <h5>Revenue: </h5>-->
<!--        {{revenue}} Rub.-->
<!--        <h5>Rating: </h5>-->
<!--        {{rating}} / 100-->
<!--        <h5>Genres: </h5>-->
<!--        {{render_movie(genres)}}-->
<!--        <h5>Director: </h5>-->
<!--        <p>{{director}}.</p>-->
<!--        <h5>Actors: </h5>-->
<!--        {{render_movie(actors)}}-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="movie-desc">-->
<!--      <h5>Description: </h5>-->
<!--      <p>{{description}}</p>-->
<!--    </div>-->
<!--  </div>-->
</div>
</body>
</html>