<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Сотрудники</title>
  <link rel="stylesheet" th:href="@{../css/style.css}"/>
  <link rel="stylesheet"
        type="text/css"
        href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
        crossorigin="anonymous" />
</head>
<nav class="container pt-4 nav nav-pills flex-column flex-sm-row">
  <a class="flex-sm-fill text-sm-center nav-link btn-light" th:href="@{/api/v1/tenants}">Арендаторы</a>
  <a class="flex-sm-fill text-sm-center nav-link btn-light" th:href="@{/api/v1/contracts}">Договоры</a>
  <a class="flex-sm-fill text-sm-center nav-link btn-light" th:href="@{/api/v1/invoices}">Учет</a>
  <a class="flex-sm-fill text-sm-center nav-link btn-light" th:href="@{/api/v1/stores}">Павильоны</a>
  <a class="flex-sm-fill text-sm-center nav-link active" th:href="@{/api/v1/employees}">Сотрудники</a>
  <a class="flex-sm-fill text-sm-center nav-link btn-light" th:href="@{/api/v1/vacancies}">Вакансии</a>
  <a class="flex-sm-fill text-sm-center nav-link btn-light" th:href="@{/api/v1/storage}">Поставки</a>
  <a class="flex-sm-fill text-sm-center nav-link btn-light" th:href="@{/api/v1/promos}">Акции</a>
</nav>
<body>
<div class="container pt-3 my-5">
  <h3 class="text-center p-3">Перечень сотрудников</h3>
  <a class="btn btn-success w-auto .hover-shadow" th:href="@{/api/v1/employees/new}">Добавить сотрудника</a>
  <hr/>
  <table class="table table-bordered" id="employeeTable">
    <thead>
    <tr>
      <th>ФИО</th>
      <th>Магазин</th>
      <th>Должность</th>
      <th>Дата найма</th>
      <th>Зарплата</th>
      <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee: ${employees}">
      <td th:text="${employee.lastName+' '+employee.firstName+' '+employee.middleName}"></td>
      <td>
        <a th:href="@{/api/v1/stores/(id=${employee.vacancy.store.idStore})}"
           th:text="${employee.vacancy.store.storeTitle}">
        </a>
      </td>
      <td th:text="${employee.jobTitle}"></td>
      <td th:text="${employee.hireDate}"></td>
      <td th:text="${employee.monthlySalary}"></td>
      <td>
        <a class="btn btn-info w-auto" th:href="@{/api/v1/employees/(id=${employee.idEmployee})}">Подробнее</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
<script>
    $(document).ready(function() {
        $("#employeeTable").DataTable({
            'aoColumnDefs': [{
                'bSortable': false,
                'aTargets': [-1] /* 1st one, start by the right */
            }],
            "oLanguage": {
                "sLengthMenu": "Показать _MENU_ записей",
                "sInfo": "Показано _END_ из _TOTAL_ записей",
                "sSearch": "Поиск:",
                "oPaginate": {
                    "sNext": "Далее",
                    "sPrevious": "Назад"
                },
                "sInfoEmpty": "Нет записей",
                "sEmptyTable": "Нет записей",
                "sZeroRecords": "Нет записей",}
        });
    })
</script>
</body>
</html>