<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Учет</title>
  <link rel="stylesheet"
        type="text/css"
        href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
        crossorigin="anonymous" />
</head>
<nav class="container pt-4 nav nav-pills flex-column flex-sm-row">
  <a class="flex-sm-fill text-sm-center nav-link btn-light" th:href="@{/tenants}">Арендаторы</a>
  <a class="flex-sm-fill text-sm-center nav-link btn-light" th:href="@{/contracts}">Договоры</a>
  <a class="flex-sm-fill text-sm-center nav-link active" th:href="@{/invoices}">Учет</a>
  <a class="flex-sm-fill text-sm-center nav-link btn-light" th:href="@{/stores}">Павильоны</a>
  <a class="flex-sm-fill text-sm-center nav-link btn-light" th:href="@{/employees}">Сотрудники</a>
  <a class="flex-sm-fill text-sm-center nav-link btn-light" th:href="@{/vacancies}">Вакансии</a>
  <a class="flex-sm-fill text-sm-center nav-link btn-light" th:href="@{/storage}">Поставки</a>
  <a class="flex-sm-fill text-sm-center nav-link btn-light" th:href="@{/promos}">Акции</a>
</nav>
<body>
  <div class="container pt-4 my-5">
    <h3 class="text-center p-3">Информация о документе учета:</h3>
    <span class="container p-4 m-4">
      <a th:href="@{/tenants/(id=${invoice.contract.tenant.idTenant})}" class="btn btn-primary">Перейти к арендатору</a>
      <a th:href="@{/contracts/(id=${invoice.contract.idContract})}" class="btn btn-primary">Перейти к договору</a>
      <a th:href="@{/stores/(id=${invoice.contract.store.idStore})}" class="btn btn-info">Перейти к магазину</a>
      <a th:href="@{/invoices/paid(id=${invoice.idInvoice})}" class="btn btn-warning">Обновить статус оплаты</a>
    </span>
    <hr/>
    <div th:object="${invoice}" class="container">
      <div class="shadow container d-flex p-4 m-4">
        <div class="container">
          <h5 class="p-2 m-auto">Номер договора: </h5><span th:text="*{contract.idContract}"></span>
          <h5 class="p-2 m-auto">ФИО: </h5><span th:text="*{contract.tenant.firstName+' '+contract.tenant.lastName+' '+contract.tenant.middleName}"></span>
          <h5 class="p-2 m-auto">Название магазина: </h5><span th:text="*{contract.store.storeTitle}"></span>
          <h5 class="p-2 m-auto">Стоимость аренды в месяц: </h5><span th:text="*{contract.store.monthlyCost}"></span>
          <h5 class="p-2 m-auto">Общая стоимость аренды склада: </h5><span th:text="${storageCost}"></span>
        </div>
        <div class="container">
          <h5 class="p-2 m-auto">Налог: </h5><span th:text="*{tax}"></span>
          <h5 class="p-2 m-auto">Штраф: </h5>
          <span th:if="*{fee == null}">Нет штрафа</span>
          <span th:text="*{fee}"></span>
          <h5 class="p-2 m-auto">Общая стоимость: </h5><span th:text="*{totalCost}"></span>
          <h5 class="p-2 m-auto">Оплатить до: </h5><span th:text="*{dueDate}"></span>
          <h5 class="p-2 m-auto">Статус оплаты: </h5>
          <span th:if="${invoice.paid == true}">Оплачено</span>
          <span th:unless="${invoice.paid == true}">Не оплачено</span>
        </div>
      </div>
    </div>
  </div>
</body>
</html>