<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Акция</title>
  <link rel="stylesheet"
        type="text/css"
        href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
        crossorigin="anonymous" />
</head>
<nav class="container pt-4 nav nav-pills flex-column flex-sm-row">
  <a class="flex-sm-fill text-sm-center nav-link btn-light" th:href="@{/tenants}">Арендаторы</a>
  <a class="flex-sm-fill text-sm-center nav-link btn-light" th:href="@{/contracts}">Договоры</a>
  <a class="flex-sm-fill text-sm-center nav-link btn-light" th:href="@{/invoices}">Учет</a>
  <a class="flex-sm-fill text-sm-center nav-link btn-light" th:href="@{/stores}">Павильоны</a>
  <a class="flex-sm-fill text-sm-center nav-link btn-light" th:href="@{/employees}">Сотрудники</a>
  <a class="flex-sm-fill text-sm-center nav-link btn-light" th:href="@{/vacancies}">Вакансии</a>
  <a class="flex-sm-fill text-sm-center nav-link btn-light" th:href="@{/storage}">Поставки</a>
  <a class="flex-sm-fill text-sm-center nav-link active" th:href="@{/promos}">Акции</a>
</nav>
<body>
<div class="container pt-4 my-5">
  <h3 class="text-center p-3">Информация об акции:</h3>
  <span class="container p-4 m-4">
    <a th:href="@{/promos/results/(id=${promo.idPromo})}" class="btn btn-primary">Добавить результаты</a>
    <a th:href="@{/promos/edit(id=${promo.idPromo})}" class="btn btn-info">Редактировать акцию</a>
    <a th:href="@{/promos/update(id=${promo.idPromo})}" class="btn btn-warning">Обновить статус</a>
  </span>
  <hr/>
  <div th:object="${promo}" class="container">
    <div class="shadow container p-4 m-4">
      <h5 class="p-2">Наименование: </h5><span th:text="*{promoType}"></span>
      <h5 class="p-2">Магазины: </h5>
      <span>
        <a th:href="@{/stores/(id=${promo.store.idStore})}" th:text="${promo.store.storeTitle}"></a>
      </span>
      <h5 class="p-2">Бюджет: </h5><span th:text="*{budget}"></span>
      <h5 class="p-2">Охват: </h5>
      <span th:if="*{resultsCoverage != null}" th:text="*{resultsCoverage}"></span>
      <span th:unless="*{resultsCoverage != null}">Данные не заполнены</span>
      <h5 class="p-2">Дата начала: </h5><span th:text="*{startDate}"></span>
      <h5 class="p-2">Дата завершения: </h5><span th:text="*{endDate}"></span>
      <h5 class="p-2">Статус акции: </h5>
      <span th:if="*{active == true}">Активна</span>
      <span th:unless="*{active == true}">Не активна</span>
      <h5 class="p-2">Описание акции: </h5><span th:text="*{promoDescription}"></span>
      <h5 class="p-2">Результаты: </h5>
      <span th:if="*{resultsDetails != null}" th:text="*{resultsDetails}"></span>
      <span th:unless="*{resultsDetails != null}">Данные не заполнены</span>
    </div>
  </div>
</div>
</body>
</html>