<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Поставка</title>
  <link rel="stylesheet" th:href="@{../css/style.css}"/>
</head>
<header>
  <a class="head btn-hd" th:href="@{/tenants}">Арендаторы</a>
  <a class="head btn-hd" th:href="@{/contracts}">Договоры</a>
  <a class="head btn-hd" th:href="@{/invoices}">Учет</a>
  <a class="head btn-hd" th:href="@{/stores}">Магазины</a>
  <a class="head btn-hd" th:href="@{/employees}">Сотрудники</a>
  <a class="head btn-hd" th:href="@{/vacancies}">Вакансии</a>
  <a class="head btn-hd" th:href="@{/storage}">Поставки</a>
  <a class="head btn-hd" th:href="@{/promos}">Акции</a>
</header>
<body>
<div class="movie">
  <a th:href="@{/storage/deliver/(id=${storage.idStorage})}">Доставить</a>
  <div th:object="${storage}" class="movie-info-box">
    <div class="movie-info">
      <h4>Информация о павильоне:</h4>
      <h5>Номер поставки: </h5><span th:text="*{idStorage}"></span>
      <h5>Наименование поставки: </h5><span th:text="*{productName}"></span>
      <h5>Магазин: </h5><span th:text="*{store.storeTitle}"></span>
      <h5>Поставщик: </h5><span th:text="*{supplier}"></span>
      <h5>Страна производитель: </h5><span th:text="*{manufacturerCountry}"></span>
      <!--      <h5>Арендатор: </h5><span th:href="*{}" th:text="*{idStore}"></span>-->
      <h5>Количество товара: </h5><span th:text="*{amount}"></span>
      <h5>Дата прибытия на склад: </h5><span th:text="*{arrivalDate}"></span>
<!--      <h5>Дней на складе: </h5><span th:text="*{}"></span>-->
      <h5>Цена за день хранения: </h5><span th:text="*{costPerDay}"></span>
<!--      <h5>Общая стоимость: </h5><span th:text="*{}"></span>-->
      <h5>Статус доставки в магазин: </h5><span th:text="*{isDelivered()}"></span>
      <h5>Дата доставки в магазин: </h5><span th:text="*{deliveryDate}"></span>
    </div>
  </div>
</div>
</body>
</html>