<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Поставка</title>
  <link rel="stylesheet"
        type="text/css"
        href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
        crossorigin="anonymous" />
</head>
<nav class="container pt-4 nav nav-pills flex-column flex-sm-row">
  <a class="flex-sm-fill text-sm-center nav-link btn-light" th:href="@{/tenants}">Арендаторы</a>
  <a class="flex-sm-fill text-sm-center nav-link btn-light" th:href="@{/contracts}">Договоры</a>
  <a class="flex-sm-fill text-sm-center nav-link btn-light" th:href="@{/invoices}">Учет</a>
  <a class="flex-sm-fill text-sm-center nav-link btn-light" th:href="@{/stores}">Павильоны</a>
  <a class="flex-sm-fill text-sm-center nav-link btn-light" th:href="@{/employees}">Сотрудники</a>
  <a class="flex-sm-fill text-sm-center nav-link btn-light" th:href="@{/vacancies}">Вакансии</a>
  <a class="flex-sm-fill text-sm-center nav-link active" th:href="@{/storage}">Поставки</a>
  <a class="flex-sm-fill text-sm-center nav-link btn-light" th:href="@{/promos}">Акции</a>
</nav>
<body>
<div class="container pt-4 my-5">
  <h3 class="text-center p-3">Информация о поставке:</h3>
  <span class="container p-4 m-4">
    <a th:href="@{/stores/(id=${storage.store.idStore})}" class="btn btn-primary">Перейти к магазину</a>
    <a th:href="@{/storage/edit(id=${storage.idStorage})}" class="btn btn-success">Редактировать поставку</a>
    <a th:href="@{/storage/deliver/(id=${storage.idStorage})}" class="btn btn-warning">Доставить в магазин</a>
  </span>
  <hr/>
  <div th:object="${storage}" class="container">
    <div class="shadow container p-4 m-4">
      <h5>Номер поставки: </h5><span th:text="*{idStorage}"></span>
      <h5>Наименование поставки: </h5><span th:text="*{productName}"></span>
      <h5>Магазин: </h5><span th:text="*{store.storeTitle}"></span>
      <h5>Поставщик: </h5><span th:text="*{supplier}"></span>
      <h5>Страна производитель: </h5><span th:text="*{manufacturerCountry}"></span>
      <h5>Количество товара: </h5><span th:text="*{amount}"></span>
      <h5>Дата прибытия на склад: </h5><span th:text="*{arrivalDate}"></span>
<!--      <h5>Дней на складе: </h5><span th:text="*{}"></span>-->
      <h5>Цена за день хранения: </h5><span th:text="*{costPerDay}"></span>
<!--      <h5>Общая стоимость: </h5><span th:text="*{}"></span>-->
      <h5>Статус доставки в магазин: </h5><span th:text="*{isDelivered()}"></span>
      <h5>Дата доставки в магазин: </h5><span th:text="*{deliveryDate}"></span>
    </div>
  </div>
</div>
</body>
</html>