<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Павильон</title>
  <link rel="stylesheet"
        type="text/css"
        href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
        crossorigin="anonymous" />
</head>
<nav class="container pt-4 nav nav-pills flex-column flex-sm-row">
  <a class="flex-sm-fill text-sm-center nav-link btn-light" th:href="@{/api/v1/tenants}">Арендаторы</a>
  <a class="flex-sm-fill text-sm-center nav-link btn-light" th:href="@{/api/v1/contracts}">Договоры</a>
  <a class="flex-sm-fill text-sm-center nav-link btn-light" th:href="@{/api/v1/invoices}">Учет</a>
  <a class="flex-sm-fill text-sm-center nav-link active" th:href="@{/api/v1/stores}">Павильоны</a>
  <a class="flex-sm-fill text-sm-center nav-link btn-light" th:href="@{/api/v1/employees}">Сотрудники</a>
  <a class="flex-sm-fill text-sm-center nav-link btn-light" th:href="@{/api/v1/vacancies}">Вакансии</a>
  <a class="flex-sm-fill text-sm-center nav-link btn-light" th:href="@{/api/v1/storage}">Поставки</a>
  <a class="flex-sm-fill text-sm-center nav-link btn-light" th:href="@{/api/v1/promos}">Акции</a>
</nav>
<body>
<div class="container pt-4 my-5">
  <h3 class="text-center p-3">Информация о павильоне:</h3>
  <span class="container p-4 m-4">
      <a th:if="${store.storeTitle != null}" th:href="@{/api/v1/contracts/(id=${contract.idContract})}" class="btn btn-primary">Перейти к договору</a>
      <a th:if="${store.storeTitle != null}" th:href="@{/api/v1/contracts/(id=${contract.idContract})}" class="btn btn-info">Редактировать</a>
      <a th:if="${store.storeTitle != null}" th:href="@{/api/v1/contracts/(id=${contract.idContract})}" class="btn btn-danger">Очистить павильон</a>
      <a th:unless="${store.storeTitle != null}" th:href="@{/api/v1/stores/edit/(id=${contract.store.idStore})}" class="btn btn-primary">Заполнить описание магазина</a>
  </span>
  <hr/>
  <div th:object="${store}" class="container">
    <div class="shadow container p-4 m-4">
      <h5 class="py-2 m-auto">Номер павильона: </h5><span th:text="*{idStore}"></span>
      <h5 class="py-2 m-auto">Размер кв.м: </h5><span th:text="*{squareArea}"></span>
      <h5 class="py-2 m-auto">Этаж: </h5><span th:text="*{floor}"></span>
      <h5 class="py-2 m-auto">Стоимость аренды: </h5><span th:text="*{monthlyCost}"></span>
      <h5 class="py-2 m-auto">Статус павильона: </h5>
      <span th:if="*{occupied == true}">Павильон сдан</span>
      <span th:unless="*{occupied == true}">Павильон свободен</span>
      <h5 class="py-2 m-auto" th:if="*{storeTitle != null}">Название магазина: </h5><span th:text="*{storeTitle}"></span>
      <h5 class="py-2 m-auto" th:if="*{storeTitle != null}" >Тип магазина: </h5><span th:text="*{storeType}"></span>
      <h5 class="py-2 m-auto" th:if="*{storeTitle != null}">Подробное описание: </h5><span th:text="*{storeDescription}"></span>
    </div>
  </div>
</div>
</body>
</html>