<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Арендатор</title>
<!--  <link rel="stylesheet" th:href="@{../css/style.css}"/>-->
  <link rel="stylesheet"
        type="text/css"
        href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
        crossorigin="anonymous" />
</head>
<nav class="container pt-4 nav nav-pills flex-column flex-sm-row">
  <a class="flex-sm-fill text-sm-center nav-link active" th:href="@{/tenants}">Арендаторы</a>
  <a class="flex-sm-fill text-sm-center nav-link btn-light" th:href="@{/contracts}">Договоры</a>
  <a class="flex-sm-fill text-sm-center nav-link btn-light" th:href="@{/invoices}">Учет</a>
  <a class="flex-sm-fill text-sm-center nav-link btn-light" th:href="@{/stores}">Павильоны</a>
  <a class="flex-sm-fill text-sm-center nav-link btn-light" th:href="@{/employees}">Сотрудники</a>
  <a class="flex-sm-fill text-sm-center nav-link btn-light" th:href="@{/vacancies}">Вакансии</a>
  <a class="flex-sm-fill text-sm-center nav-link btn-light" th:href="@{/storage}">Поставки</a>
  <a class="flex-sm-fill text-sm-center nav-link btn-light" th:href="@{/promos}">Акции</a>
</nav>
<body>
<div class="shadow container pt-4 my-5">
  <h3 class="text-center p-3">Информация об арендаторе:</h3>
  <span class="container p-4 m-4">
    <a th:href="@{/contracts}" class="btn btn-primary">Редактировать</a>
    <a th:href="@{${'/tenants/upload/?id='+tenant.idTenant}}" class="btn btn-info">Изменить фото</a>
    <a th:href="@{/contracts}" class="btn btn-warning">Обновить статус</a>
  </span>
  <hr/>
  <div th:object="${tenant}" class="container">
    <div class="container d-flex p-4 m-4">
      <div class="container flex-column">
        <div><h5 class="py-2 m-auto">ФИО: </h5 ><span class="m-auto" th:text="*{lastName+' '+firstName+' '+middleName}"></span></div>
        <div><h5 class="py-2 m-auto">Номер арендатора: </h5><span class="m-auto" th:text="*{idTenant}"></span></div>
        <div><h5 class="py-2 m-auto">Почта: </h5><span class="m-auto" th:text="*{email}"></span></div>
        <div ><h5 class="py-2 m-auto">Адрес: </h5><span class="m-auto" th:text="*{address}"></span></div>
      </div>
      <div class="container">
        <h5 class="py-2 m-auto">Номер телефона: </h5><span th:text="*{phone}"></span>
        <h5 class="py-2 m-auto">Номер паспорта: </h5><span th:text="*{passNum}"></span>
        <h5 class="py-2 m-auto">ИНН: </h5><span th:text="*{innNum}"></span>
        <h5 class="py-2 m-auto">Статус: </h5>
        <span th:if="${tenant.debtor == true}">Должник</span>
        <span th:unless="${tenant.debtor == true}">Ок</span>
      </div>
      <div class="container">
        <img th:src="${tenant.photo}" alt="Error"/>
      </div>
    </div>
  </div>
  <div class="container p-2 my-2">
    <h4 class="text-center p-3">Договоры арендатора</h4>
    <table class="table" id="contractTable">
      <thead>
      <tr>
        <th>Номер договора</th>
        <th>Название магазина</th>
        <th>Дата подписания</th>
        <th>Дата окончания действия</th>
        <th>Действия</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="contract: ${contracts}">
        <td th:text="${contract.idContract}"></td>
        <td th:text="${contract.store.storeTitle}"></td>
        <td th:text="${contract.signedDate}"></td>
        <td th:text="${contract.endDate}"></td>
        <td>
          <a class="btn btn-info" th:href="@{/contracts/(id=${contract.idContract})}">Подробнее</a>
        </td>
      </tbody>
    </table>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
<script>
    $(document).ready(function() {
        $("#contractTable").DataTable({
            'aoColumnDefs': [{
                'bSortable': false,
                'aTargets': [-1] /* 1st one, start by the right */
            }],
            "oLanguage": {
                "sLengthMenu": "Показать _MENU_ записей",
                "sInfo": "Показано _END_ из _TOTAL_ записей",
                "sSearch": "Поиск:",
                "oPaginate": {
                    "sNext": "Далее",
                    "sPrevious": "Назад"
                },
                "sInfoEmpty": "Нет записей",
                "sEmptyTable": "Нет записей",
                "sZeroRecords": "Нет записей",}
        });
    })
</script>
</body>
</html>