<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Вакансии</title>
  <link rel="stylesheet"
        type="text/css"
        href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
        crossorigin="anonymous" />
</head>
<nav class="container pt-4 nav nav-pills flex-column flex-sm-row">
  <a class="flex-sm-fill text-sm-center nav-link btn-light" th:href="@{/tenants}">Арендаторы</a>
  <a class="flex-sm-fill text-sm-center nav-link btn-light" th:href="@{/contracts}">Договоры</a>
  <a class="flex-sm-fill text-sm-center nav-link btn-light" th:href="@{/invoices}">Учет</a>
  <a class="flex-sm-fill text-sm-center nav-link btn-light" th:href="@{/stores}">Павильоны</a>
  <a class="flex-sm-fill text-sm-center nav-link btn-light" th:href="@{/employees}">Сотрудники</a>
  <a class="flex-sm-fill text-sm-center nav-link active" th:href="@{/vacancies}">Вакансии</a>
  <a class="flex-sm-fill text-sm-center nav-link btn-light" th:href="@{/storage}">Поставки</a>
  <a class="flex-sm-fill text-sm-center nav-link btn-light" th:href="@{/promos}">Акции</a>
</nav>
<body>
<div class="container pt-4 my-5">
  <h3 class="text-center p-3">Информация о вакансии:</h3>
  <span class="container p-4 m-4">
    <a th:href="@{/stores/(id=${vacancy.store.idStore})}" class="btn btn-primary">Перейти к магазину</a>
    <a th:href="@{/vacancies/edit(id=${vacancy.idVacancy})}" class="btn btn-success">Редактировать вакансию</a>
    <a th:href="@{/vacancies/update(id=${vacancy.idVacancy})}" class="btn btn-warning">Обновить статус</a>
  </span>
  <hr/>
  <div th:object="${vacancy}" class="container">
    <div class="shadow container p-4 m-4">
      <h5 class="py-2">Наименование: </h5><span th:text="*{vacancyTitle}"></span>
      <h5 class="py-2">Магазин: </h5><span th:text="*{store.storeTitle}"></span>
      <h5 class="py-2">Зарплата: </h5><span th:text="*{salary}"></span>
      <h5 class="py-2">Статус вакансии: </h5>
      <span th:if="*{active == true}">Активна</span>
      <span th:unless="*{active == true}">Не активна</span>
      <h5 class="py-2">Описание вакансии: </h5><span th:text="*{vacancyDescription}"></span>
    </div>
  </div>
</div>
</body>
</html>